body {
    background-color: gray;
}
.image {
    border-radius: 50%;
    width: 150px;
    margin: auto;
    padding-top: 10%;
    display: block;
}

.github-logo{
    width: 100px;
    margin: auto;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    padding-left: 3.5%;
    filter: invert(100);
    
}

.row {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    display: flex;
  }
  
  .column1 {
    flex: 20%;
    border-style: solid;
    border-color: skyblue;
    border-left: 2px;
    border-top: 2px;
    border-bottom: 2px;
    column-fill: auto;
    background-color: rgb(54, 53, 53);
  }

  .column2 {
    flex: 80%;
    background-color: rgb(0, 0, 0);
    column-fill: auto;
  }

  .image-text {
    text-align: center;
    font-size: 25px;
    color: skyblue;
  }

  .projects-header {
    text-align: center;
    color: skyblue;
  }

  .contact {
    margin:auto;
    width: 75%;
    border-radius: 25px;
    background-color: rgb(73, 73, 73);
  }

.email-header {
    width: 50px;
    padding-top: 2.5%;
    padding-left: 3.5%;
    color: white;
}

.email {
    text-align: center;
    font-size: 18px;
    color: white;
}

.github-link {
    text-align: center;
    font-size: 18px;
    padding-bottom: 2.5%;
}

a {
    color: white
}


.row2 {
    display: flex;
    margin: auto;
    width: 75%;
    gap: 30px;
}

.column21 {
    flex: 33.33%;
    column-fill: auto;
    margin:auto;
    width: 75%;
    border-style: solid;
    border-width: 2px;
    border-color: white;
    border-radius: 25px;
    background-color: rgb(73, 73, 73);
    
}

.column22 {
    flex: 33.33%;
    column-fill: auto;
    margin:auto;
    width: 75%;
    border-radius: 25px;
    background-color: rgb(73, 73, 73);
    
}

.column23 {
    flex: 33.33%;
    column-fill: auto;
    margin:auto;
    width: 75%;
    border-radius: 25px;
    background-color: rgb(73, 73, 73);
    
}

.hill-cipher {
  text-align: center;
  color: white;
}

.hill-cipher-key-image {
  height: 100%;
  width: 100%;
  padding-bottom: 5%;
  object-fit: contain;
}