body {
    background-color: gray;
}
.image {
    border-radius: 50%;
    width: 150px;
    margin: auto;
    display: block;
}

.row {
    display: flex;
  }
  
  .column1 {
    flex: 33.33%;
  }

  .column2 {
    flex: 66.66%;
  }

  .image-text {
    text-align: center;
    font-size: 25px;
  }
